* {
    font-family: Arial, "Helvetica Neue", Helvetica sans-serif;
}

html, body, .main-div {
    min-height: 100vh;
}

body {
    background-image: linear-gradient(109.6deg, rgba(255, 179, 189, 1) 1.8%, rgba(254, 248, 154, 1) 50.6%, rgba(161, 224, 186, 1) 100.3%);
}

a, a:before, a:after, a:visited, a:hover, a:active {
    text-decoration: none;
    color: dodgerblue;
}

.main-div {
    max-width: 800px;
    min-height: 95vh;
    margin: 0 auto;
    padding: 10px;
    background: #fc00ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 5px gray;
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth__sign-up, .auth__login {
    width: 90%;
    height: 35px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    text-shadow: -1px 1px 1px lightcoral;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    background-image: radial-gradient( circle 780.6px at 10% 20%,  rgba(133,255,189,1) 0%, rgba(255,251,125,1) 90.7% );
}

.label {
    margin: 20px 0 0 0;
}

.h-1 {
    text-align: center;
    font-style: italic;
}

.auth-form {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form__item {
    width: 100%;
}

input {
    width: 100%;
    font-size: 18px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid lightskyblue;
}

input:focus {
    outline: none;
    box-shadow: 0 0 14px lightskyblue inset;
}

.auth-btn {
    width: 50%;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    border-radius: 20px;
}

.to-do-lists {

}

.to-do-lists__collection {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.to-do-lists__collection_item {
    display: flex;
    justify-content: space-between;
    margin: 25px;
    font-size: 18px;
    background: lightcyan;
    border-radius: 25px;
    border-top-right-radius: 0;
    box-shadow: -1px 1px 10px gray;
    transition-duration: 500ms;
}

.to-do-lists__collection_item:hover {
    color: red;
    background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
    font-size: 19px;
}

.to-do-lists__collection_item:active {

}

.to-do-lists__collection_item-left {
    margin: 0 15px 0 0;
    padding: 25px;


}

.to-do-lists__collection_item-right {
    padding: 5px;
}

.add-new-todolist {
    display: flex;
}

.new-list-input {
    width: 100%;
    margin: 0;
    padding: 5px;
    font-size: 18px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.new-list-input-btn {
    padding: 0;
    font-size: 18px;
}

.new-list-col-item-left {
    padding: 15px 0 15px 15px;
}

.to-do-action {
    min-height: 20px;
    display: flex;
    margin: 10px 0 0 0;
    justify-content: space-between;
    align-items: center;
    background: lightcyan;
    border-radius: 20px;
}

.to-do-action:hover {
    box-shadow: 0 0 10px mediumspringgreen inset;
}

.to-do-action__title {
    flex: 90%;
    padding: 10px;
    font-weight: 700;
    font-style: italic;
}

.to-do-action__delete {
    flex: 10%;
    padding: 10px;
    text-align: center;
    background: darkmagenta;
}

.completed {
    text-decoration: line-through;
    color: gray;
    font-weight: 400;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: lightgreen;
}
.completed:after {
    content: "\2714";
}

.add-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.add-action__input {
    margin: 0;
    font-size: 18px;
    padding: 10px;
    flex: 83%;
    border-radius: 20px 0 0 20px;
}

.add-action__input:focus {
    outline: none;
    box-shadow: 0 0 14px lightskyblue inset;
}

.add-action__btn {
    flex: 10%;
    padding: 9px;
    font-size: 21px;
    background: lightgreen;
    border: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;

}

p.h-1:nth-child(3) {
    margin-bottom: 45px;
}

.to-home-page-btn {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 18px;
}

.to-home-page-btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.to-home-page-btn:active {
    color: #000
}

.to-home-page-btn:active:after {
    background: transparent;
}

.to-home-page-btn:hover:before {
    opacity: 1;
}

.to-home-page-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.emoji {
    font-style: normal;
}